
    img{
        height: 50%;
        width: 50%;
        
    }
    .bird{
        border: 1px solid red;
        border-radius: 40px;
        width: 20%;
        height:50% ;
        margin: 1%;
        padding: 10px;
        float: left;

        

    }


    p{
        text-align: justify;
    }
   
    h2{
        text-align: center;
    }